@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: #FFF;
}

button {
  background-color: #0021de;
}

/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 5px;
}

.scrollWidget {
  transition: visibility 200ms linear, opacity 200ms linear;
}

.scrollWidget>.arrow {
  transition: 500ms;
}

.scrollWidget:hover>.arrow {
  transform: translateY(4px);
}

.textBox {
  padding: 12px;
  border: #FFF solid 2px;
  border-radius: 10px;
  box-shadow: 5px 5px #3b3b3b10;
}

.textBox>#title {
  text-align: center;
  font-weight: 600;
  margin-bottom: 4px;
}

.book-container {
  perspective: 2500px;
  cursor: pointer;
}

/* flip the pane when hovered */
/* .book-container:hover .book {
  transform: rotateY(180deg);
} */

.book {
  transition: 0.6s;
  transform-style: preserve-3d;
  position: relative;
  aspect-ratio: 7/10;
}

/* hide back of pane during swap */
.book-front, .book-back {
	backface-visibility: hidden;
	position: absolute;
  background-color: #0028ff;
  background-image: url(./assets/dark-leather.png);
  background-size: cover;
  box-shadow: 5px 5px #3b3b3b10;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  color: #ffd700;
  font-weight: 600;
  text-shadow: 0px 1px 0px rgba(255, 255, 255, .3), 0px -1px 0px rgba(0, 0, 0, .7);
  height: 100%;
}

/* front pane, placed above back */
.book-front {
	z-index: 2;
	/* for firefox 31 */
	transform: rotateY(0deg);
  padding: 12px 12px 12px 0px;
  border-radius: 4px 18px 18px 4px;
}

/* back, initially hidden pane */
.book-back {
	transform: rotateY(180deg);
  padding: 12px 0px 12px 12px;
  border-radius: 18px 4px 4px 18px;
}

.book-front > .stitches {
	border-width: 2px 2px 2px 0px;
  border-radius: 0px 10px 10px 0px;
}

.book-back > .stitches {
	border-width: 2px 0px 2px 2px;
  border-radius: 10px 0px 0px 10px;
}

.stitches {
  height: 100%;
  border-color: #aaa;
  border-style: dashed;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2em;
  overflow: hidden;
}

.book-img {
  border-radius: 10px;
  text-shadow: 0px 1px 0px rgba(255, 255, 255, .3), 0px -1px 0px rgba(0, 0, 0, .7);
  border: solid 1px #0021de;
  margin-bottom: 12px;
}

.book-title {
  font-size: 2.5rem;
  text-align: center;
  line-height: normal;
}

.book-author {
  font-size: 1rem;
  text-align: center;
}

.book-summary {
  text-align: left;
  height: 100%;
  overflow: overlay;
}

.read-button {
  cursor: pointer;
  padding: 6px 12px;
  margin-top: 12px;
  border: 2px solid gold;
  background-color: #0021de;
  border-radius: 10px;
  font-size: 1.25rem;
  text-align: center;
}
