@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: #FFF;
}

/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
  border-radius: 5px;
}

.scrollWidget {
  transition: visibility 200ms linear,opacity 200ms linear;
}

.scrollWidget > .arrow {
  transition: 500ms;
}

.scrollWidget:hover > .arrow {
  transform: translateY(4px);
}

.textBox {
  padding: 12px;
  border: #FFF solid 2px;
  border-radius: 10px;
  box-shadow: 5px 5px #3b3b3b10;
}

.textBox > #title {
  text-align: center;
  font-weight: 600;
  margin-bottom: 4px;
}
